@font-face {
    font-family: 'Pano';
    src: url(Fonts/Pano/HW\ Pano\ Regular.ttf);
}

@font-face {
    font-family: 'Planquine';
    src: url(Fonts/Palanquin/Palanquin-Regular.ttf);
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Pano';
    cursor: crosshair;
}

html{

    scroll-behavior: smooth;
    overflow-x: hidden;
}


.hero-section{

    background-image: url(images/exploidee-background-light-mode-green-cyan.svg);
    background-repeat: no-repeat;


    background-size: cover;

    text-align: center;

}

.hero-content{
    
}


.statement{
    margin: 0 auto;
    font-size: 5rem;

    margin-top: 150px;
    
    width: 40%;
    line-height: 5rem;

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }


 .subheading{

    margin: 0 auto;

    margin-top: 35px;
    text-align: center;
    width: 40%;
  
 }



.logo{
    
    margin-top: 40px;
    width: 100px;
    cursor: pointer;
    animation: float-thumb 2.5s ease-in-out infinite;

}

.navBar{

    margin-top: 50px;
    
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 30px;
    margin-top: 20px;

}


ul li{

    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

ul li a:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-section{
  
    width: 100%;
    
}


.project-fortiquo{
    width: 80%; 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
    gap: 50px;
    
    border: 0.5px solid #9d9d9d;
    border-radius: 50px;

    margin: 0 auto;

    margin-bottom: 50px;
}

.project-fortiquo:hover{

    background: linear-gradient(180deg, #27C1DE 0%, #2F41DB 100%); 
}


.project-2million{
    width: 80%; 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
    gap: 50px;
    
    border: 0.5px solid #9d9d9d;
    border-radius: 50px;

    margin: 0 auto;

    margin-bottom: 50px;
}

.project-2million:hover{

    background: linear-gradient(180deg, #F3BA2F 0%, #ea781a 100%); 
}

.project-aMotors{
    width: 80%; 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
    gap: 50px;
    
    border: 0.5px solid #9d9d9d;
    border-radius: 50px;

    margin: 0 auto;

    margin-bottom: 50px;

}

.project-aMotors:hover{


    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
}

.project-sparkBank{
    width: 80%; 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(481px, 1fr));
    gap: 50px;
    
    border: 0.5px solid #9d9d9d;
    border-radius: 50px;

    margin: 0 auto;

    margin-bottom: 50px;

}

.project-sparkBank:hover{

    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.project-thumb{

    border-radius: 50px 0px 0px 50px;
    width: 100%;


}

.project-description{
   
    text-align: left;
    align-self: center;

    width: 75%;

}


.project-title{
    font-size: 28px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.project-paragraph{
    font-size: 20px;
    text-align: left;
    margin-left: 0;
    
    
    
}


.btn-case-study{
    
    background-color: #121212;
    color: silver;
    padding: 20px 40px;
    margin-top: 100px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}


.btn-case-study:hover{

    background-color: black;
    color: white;
    border: 1px solid black;

    animation: float-thumb 2.5s ease-in-out infinite;

    
    cursor: pointer;
}


img{
    width: 100%;
}

.heading{
    text-align: center;
    margin-top: 30px;
}


span{

  background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h1{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.headline-vision{
    font-size: 45px;
    text-align: left;  
}

.headline-mission{
    font-size: 45px;
    text-align: left;
}
  

p{
    font-size: 25px;
    text-align: left;
    line-height: 37px;
    font-family: 'Planquine';
    
}


.vision-mission{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 50px;
    
}

.mission{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(156deg, #52BBEF 0%, #EF52A7 100%);

}

.mission-data{

    position: sticky;
    top: 40px;
    bottom: 400px;
}

.vision{
   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 50px;
    background: linear-gradient(180deg, #F3BA2F 0%, #1AEAE9 100%); 
}


.vision-data{

    position: sticky;
    top: 40px;
    bottom:50px;
}


.featured-photo{

    transform: scale(1.02);
    transition: 0.5s ease;
    
}


.featured-photo:hover{

    transform: scale(1.05);
    transition: 0.5s ease;
    
}

.design-process-section{

    width: 80%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 30px;
    
}


.design-process-paragraph{

    text-align: center;
    line-height:1rem;

    margin-bottom: 50px;

}

.circle1{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    
    padding: 30px 70px;
    /* border: 0.5px solid #9d9d9d; */

    transition: 0.5 ease;
        
}


.circle2{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    
    padding: 30px 70px;
    /* border: 0.5px solid #9d9d9d; */

    transition: 0.5 ease;
        
}

.circle3{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    
    padding: 30px 70px;
    /* border: 0.5px solid #9d9d9d; */

    transition: 0.5 ease;
        
}

.circle4{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    
    padding: 30px 70px;
    /* border: 0.5px solid #9d9d9d; */

    transition: 0.5 ease;
        
}

.circle5{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    
    padding: 30px 70px;
    /* border: 0.5px solid #9d9d9d; */

    transition: 0.5 ease;
        
}

.circle1:hover{
    
    background: var(--Gradient2, linear-gradient(181deg, #2fccf3 0.91%, #000000 182.54%));
    transform: scale(1.1);
    color: #fff;
    transition: 0.5 ease;
    font-size: 12.1px;
}

.circle1:hover .design-process-icon{
    animation: float-thumb 2.5s ease-in-out infinite;
}

.circle2:hover{
    
    background: var(--Gradient2, linear-gradient(181deg, #2fccf3 0.91%, #000000 182.54%));
    transform: scale(1.1);
    color: #fff;
    transition: 0.5 ease;
    font-size: 12.1px;
}

.circle2:hover .design-process-icon{
    animation: float-thumb 2.5s ease-in-out infinite;
}

.circle3:hover{
    
    background: var(--Gradient2, linear-gradient(181deg, #2fccf3 0.91%, #000000 182.54%));
    transform: scale(1.1);
    color: #fff;
    transition: 0.5 ease;
    font-size: 12.1px;
}
.circle3:hover .design-process-icon{
    animation: float-thumb 2.5s ease-in-out infinite;
}

.circle4:hover{
    
    background: var(--Gradient2, linear-gradient(181deg, #2fccf3 0.91%, #000000 182.54%));
    transform: scale(1.1);
    color: #fff;
    transition: 0.5 ease;
    font-size: 12.1px;
}

.circle4:hover .design-process-icon{
    animation: float-thumb 2.5s ease-in-out infinite;
}

.circle5:hover{
    
    background: var(--Gradient2, linear-gradient(181deg, #2fccf3 0.91%, #000000 182.54%));
    transform: scale(1.1);
    color: #fff;
    transition: 0.5 ease;
    font-size: 12.1px;
}

.circle5:hover .design-process-icon{
    animation: float-thumb 2.5s ease-in-out infinite;
}

.design-process-icon{

    width: 100%;
    height: 100%;
}


.testimonial-section{

    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    

    gap: 30px;

}


.testimonial-hamad{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
  
    background: #f6f6f6;
    padding: 80px 30px;
    
}

.testimonial-hamad:hover{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
    
    background: linear-gradient(16deg, #F3BA2F -18.67%, #B9DCF0 69.29%);
    padding: 80px 30px;
    
}

.testimonial-hamad:hover .testimonial-thumb{

    animation: float-thumb 1.5s ease-in-out infinite;
}



.testimonial-reet{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
  
    background: #f6f6f6;
    padding: 80px 30px;

}


.testimonial-reet:hover{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
  
    background: linear-gradient(171deg, #52BBEF 7.01%, rgba(239, 82, 167, 0.10) 80.68%);
    padding: 80px 30px;
    
}

.testimonial-reet:hover .testimonial-thumb{

    animation: float-thumb 1.5s ease-in-out infinite;
}



.testimonial-saqib{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;

    background: #f6f6f6;
    padding: 80px 30px;
    
}

.testimonial-saqib:hover{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;

    background: var(--Gradient1, linear-gradient(180deg, #F3BA2F 0%, #D93BF8 100%));
    padding: 80px 30px;
    
}

.testimonial-saqib:hover .testimonial-thumb{

    animation: float-thumb 1.5s ease-in-out infinite;
}


.testimonial-soni{

    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    
    background: #f6f6f6;
    padding: 80px 30px;
    
}

.testimonial-soni:hover{

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
    
    background: var(--Gradient2, linear-gradient(181deg, #F3BA2F 0.91%, #1AEAE9 182.54%));
    padding: 80px 30px;
    
}

.testimonial-soni:hover .testimonial-thumb{

    animation: float-thumb 1.5s ease-in-out infinite;
}


.testimonial-thumb{

    width: 120px;
    margin: 0 auto;
}

@keyframes float-thumb{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-.75rem);
    }

    100%{
        transform: translateY(0);
    }
}

.testimonial-name{

    font-size: 18px;
    text-align: center;
    margin: 0 auto;

}

.testimonial-msg{

    font-size: 17px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
}

.about-me-section{
    
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.Aamir-Khan-Avatar{

    width: 35%;

    filter: grayscale(100%);
    transition: 0.5s ease;
    transform: rotate(-180deg);

}

.Aamir-Khan-Avatar:hover{

    transform: scale(1.05);
    filter: grayscale(0%);
    transform: rotate(0deg);

    transition: 0.5s ease;    
}


.name{
    font-size: 25px;
    font-family: 'Pano';
    margin-top: 50px;
}

.gender{
    
    font: 20px;
    color: #5d5a5a;
    margin-top: -5px;

}

.bio{
    
    margin-top: 50px;
    max-width: 40ch;
    padding-inline: 100px;
    text-align: left;
    

}

.AI-Avatars{

display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 20px;

width: 90%;
margin: 0 auto;

}

.avatar{

    filter: grayscale(100%);

    transition: 0.2s ease;

}


.avatar:hover{

    filter: grayscale(0%);
    transform: rotate(-2deg);

    transition: .3s ease;

    
}

.my-skills-section{

    width: 100%;
    height: 70%;
    position: relative;
    margin-bottom: 250px;
    
    
}


.figma-skills-logo{

    transform: rotate(-120deg);
    width: auto;
    position: absolute;
    top: 100px;
    left: 300px;   
    transition: 0.5s ease;
    
}

.figma-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;
    transform: scale(300%);
    
}

.lblFigma{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';
    top: 180px;
    left: 290px;
    
}


.premiere-skills-logo{

    width: auto;
    position: absolute;
    top:500px;
    left: 450px;
    transform: rotate(520deg);
     transition: 0.5s ease;
     
}

.premiere-skills-logo:hover{


    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);

}

.lblPremiere{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top:590px;
    left: 420px;

}

.photoshop-skills-logo{

    width: auto;
    position: absolute;
    top: 250px;
    left: 1000px;

    transform: rotate(140deg);
    transition: 0.5s ease;
    
}

.photoshop-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;
    transform: scale(300%);

}

.lblPhotoshop{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 335px;
    left: 960px;


}

.after-effects-skills-logo{

    transform: rotate(-120deg);

    width: auto;
    position: absolute;
    top: 90px;
    left: 1100px;
    transition: 0.5s ease;
}


.after-effects-skills-logo:hover{


    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);
    
}

.lblAfterEffects{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 180px;
    left: 1050px;
}

.illustrator-skills-logo{

    transform: rotate(100deg);
    width: auto;
    position: absolute;
    top: 170px;
    left: 530px;
    transition: 0.5s ease;
    
}

.illustrator-skills-logo:hover{

    
    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);

}


.lblIllustrator{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 255px;
    left: 500px; 

}


.zeplin-skills-logo{
    width: auto;
    position: absolute;
    top: 300px;
    left: 350px;

    transform: rotate(90deg);
   
    transition: 0.5s ease;
}

.zeplin-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);

}


.lblZeplin{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 375px;
    left: 360px;


}



.chatgpt-skills-logo{

    transform: rotate(-140deg);

    width: auto;
    position: absolute;
    top: 320px;
    left: 800px;

    
    transition: 0.5s ease;

}

.chatgpt-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);

}


.lblChatGPT{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 405px;
    left: 800px;

}

.mid-journey-skills-logo{

    transform: rotate(120deg);

    width: auto;
    position: absolute;
    top: 378px;
    left: 1150px;
    
    transition: 0.5s ease;
    
}

.mid-journey-skills-logo:hover{

    
    transform-style: flat;
    transform-style: initial;
    transition: 0.5s ease;

    transform: scale(300%);

}

.lblMidjourney{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 440px;
    left: 1140px;

}

.wordpress-skills-logo{
    
    transform: rotate(130deg);
 
     width: auto;
     position: absolute;
     top: 350px;
     left: 600px;
 
     transition: 0.5s ease;
 }

 .wordpress-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;

    transform: scale(350%);
 }



 .lblWordpress{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 435px;
    left: 590px;

}


.html-skills-logo{

    transform: rotate(-120deg);
 
     width: auto;
     position: absolute;
     top: 420px;
     left: 950px;
 
     transition: 0.5s ease;

}

.html-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;

    transform: scale(250%);
}

.lblHTML{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 510px;
    left: 970px;

}



.css-skills-logo{

    transform: rotate(120deg);

    width: auto;
    position: absolute;
    top: 100px;
    left: 800px;
    transition: 0.5s ease;
}

.css-skills-logo:hover{

    transform-style: flat;
    transform-style: initial;

    transform: scale(250%);
}

.lblCSS{

    position: absolute;
    font-size: 12px;
    font-family: 'Pano';

    top: 185px;
    left: 810px;
}

 


.contact-container{

width: 90%;
display: flex;
flex-direction: column;

margin: 0 auto;


gap: 20px;


margin-bottom: 100px; 
}



.personal-info{

display: flex;
flex-direction: row;
gap: 20px;

justify-content: space-between;

}


.msg-info{
    
    
    display: flex;
    justify-content: center;
}


.msg-input{

    padding: 20px;

    width: 100%;
        
}


.input{
    padding: 20px;
    width: 100%;
}


.btn-send{

    background-color: #121212;
    color: silver;
    width: 100%;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    
   
}

.btn-send:hover{

    background-color: #000;
    color: white;
    
}



.footer {
    --c: 80px; /* control the curvature (works with percentage) */
    height: 600px;
    width: 90%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
    /* you can also update the 60%  */
    mask: radial-gradient(60% var(--c) at 50% var(--c),#0000 calc(100% - 2px),#000) 0 calc(-1*var(--c));
    background-color: #121212;
    /* background: radial-gradient(123% 83.51% at 85.59% 12.93%, #FFDDDD 0%, #D7C4FF 52.6%, #D7F0FF 100%); */

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .footer-contact-info{

    z-index: 1;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    gap: 100px;
    color: silver;
  }

  
  .mob:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  
  .email:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  
  .linkedin:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  .resume:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }


  .copyright-section{

    display: flex;
    width: 80%;

    margin: 0 auto;

    justify-content: center;
    align-items: center;
  }

  .copyright-txt{

    font-size: 18px;

    text-align: center;

    color: #5d5a5a;

    margin-bottom: 60px;
  }


/* Main Call To Action */
.cta {
    margin-top: 40px;
    width: 320px;
    height: 70px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 250px;
    }

.cta:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.cta:active {
    color: #000;
}

.cta:active:after {
    background: transparent;
}

.cta:hover:before {
    opacity: 1;
}

.cta:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.designerTag:hover{

    background: -webkit-linear-gradient(80deg, #52BBEF, #10C690);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media (max-width: 599px) {


    body{

        overflow-x: hidden;
        margin: 0 auto;
        
    }
  
    .navigation{

        text-align: center;
    }


    ul{

        background-color: white;
        opacity: 80%;
        padding-block: 20px;
    
        
    }


    .statement{
        
        margin-top: 80px;
        font-size: 3rem;
        text-align: center;
        width: 90%;
        line-height: 3.5rem;

     }

     .subheading{

        width: 90%;
     }

     .aamir-khan-avatar{

        width: 100%;
    
        filter: grayscale(0%);
        transform: rotate(0deg);
       
    }

    .Aamir-Intro-IMG{
        
        width: 100%;
    }
    

    .cta{

        margin-bottom: 100px;

    }


    .project-fortiquo{
        border: none;
        text-align: center;
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 100px;
        background: linear-gradient(180deg, #27C1DE 0%, #2F41DB 100%); 
     }


     .project-2million{
        border: none;
        text-align: center;
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 100px;
        background: linear-gradient(180deg, #F3BA2F 0%, #ea781a 100%); 
     }

     .project-aMotors{
        border: none;
        text-align: center;
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 100px;

        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
     }

     .project-sparkBank{
        border: none;
        text-align: center;
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 100px;

        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
     }

     


     .project-description{
    
        display: flex;
        flex-direction: column;

        text-align: center;
        
     }

     .project-cover{
        border-radius: 50px 50px 50px 50px;
        width: 100%;
    }

  
    .project-title{
        text-align: center;
    }

    .project-paragraph{

        text-align: center;
        max-width: 50ch;
        margin: 0 auto;

        margin-top: 20px;
    }

    .design-process-section{

        margin-top: 100px;
        
        display: flex;
        flex-direction: column;
       
    }


    .design-process-paragraph{

        text-align: center;
        line-height:2rem;
        
        margin: 0 auto;
        margin-bottom: 50px;

        width: 80%;    
    }

    .design-process-icon:hover{

        animation: float-thumb 2.5s ease-in-out infinite;
    }

    .testimonial-soni{

        transform: perspective(0px) rotateY(0);
    }

    .testimonial-reet{

        transform: perspective(0px) rotateY(0);
    }


   .bio{

    width: 80%;
    text-align: center;
   }

  p{

    text-align: center;
  }

  .headline-mission{
    text-align: center;
  }

  .headline-vision{

    text-align: center;
  }

  .design-process-section{

    width: 80%;
    margin: 0 auto;
  }

  h1{

    width: 80%;
    line-height: 3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  
.figma-skills-logo{

   
    top: 30;
    left: 55;   
    
}


.my-skills-section{

    margin-bottom: 100px;
}



.premiere-skills-logo{

    top:40;
    left: 200;
}


.photoshop-skills-logo{

    
    top: 40;
    left: 310;

}


.after-effects-skills-logo{

    top: 200;
    left: 50;

}


.illustrator-skills-logo{

    top:180;
    left: 200;
    
}


.zeplin-skills-logo{
    
    top: 180;
    left: 310;
}


.chatgpt-skills-logo{

    top: 350;
    left: 50;

}

.mid-journey-skills-logo{

    top: 350;
    left: 200; 
}


.wordpress-skills-logo{
    
    top: 330;
    left: 320;

 }

 
.html-skills-logo{

    top: 480;
    left: 120;

}

.css-skills-logo{

    top: 480;
    left: 280;

}



.personal-info{

    display: flex;
    flex-direction: column;
    
    }


    .footer-contact-info{

        margin-top: 30px;
        
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mob{

        text-align: center;
        color: silver;
        
      }

      
      .email{
        text-align: center;
      }
      
      .linkedin{
        text-align: center;
      }
    
      .resume{
        text-align: center;
      }
    



 }

